@import "tailwindcss";

@theme {
  --color-sell: #9c494f;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.current-price {
  z-index: 1;
  color: var(--color-green-200);
  text-shadow: 0 0 10px var(--color-green-200);
  opacity: 20%;
  mix-blend-mode: color-dodge;
}

.bg-gradient-green {
  background-image: linear-gradient(180deg, #214029 0%, #212429 50%);
}

.bg-gradient-red {
  background-image: linear-gradient(180deg, #4d2030 0%, #212429 50%);
}

.change-up {
  z-index: 1;
  color: var(--color-green-400);
  text-shadow: 0 0 5px var(--color-green-400);
  opacity: 40%;
  mix-blend-mode: color-dodge;
}

.change-down {
  z-index: 1;
  color: var(--color-rose-500);
  text-shadow: 0 0 5px var(--color-rose-500);
  opacity: 40%;
  mix-blend-mode: color-dodge;
}

.log-entry {
  animation-name: logAnimation;
  animation-duration: 0.1s;
}

.log-entry:nth-child(0) {
  opacity: 25%;
}

.log-entry:nth-child(1) {
  opacity: 20%;
}

.log-entry:nth-child(2) {
  opacity: 20%;
}

.log-entry:nth-child(3) {
  opacity: 15%;
}

.log-entry:nth-child(4) {
  opacity: 10%;
}

.log-entry:nth-child(5) {
  opacity: 5%;
}

.log-entry:nth-child(6) {
  opacity: 0%;
}


.play-animation {
  animation-name: clickAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.bar-animation {
  animation-name: barAppearAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

.text-drop {
  animation-name: textDrop;
  animation-duration: 1.0s;
  animation-iteration-count: 1;
}

@keyframes logAnimation {
  from {
    transform: translateX(-150%)
  }

  to {
    transform: translateX(0%)
  }
}

@keyframes clickAnimation {
  from {
    transform: scale(1.1, 1.5)
  }
  to {
    transform: scale(1.0, 1.0)
  }
}

@keyframes barAppearAnimation {
  from {
    filter: brightness(300%) grayscale(1.0)
  }

  to {
    filter: brightness(100%) grayscale(0.0)
  }
}

@keyframes barAppearAnimation {
  from {
    filter: brightness(300%) grayscale(1.0)
  }

  to {
    filter: brightness(100%) grayscale(0.0)
  }
}

@keyframes textDrop {
  from {
    transform: translateY(0px);
    opacity: 100%;
  }

  to {
    transform: translateY(100px);
    opacity: 0%;
  }
}
